body{
    font-family: 'Poppins', sans-serif;
}
.color{
    color:rgb(66, 55, 133);
}
#highlight{
    color:salmon;
}
h1{
    font-size:70px;
    height:10%;
}
h3{
    color:slategrey;
}
.half-width{
    width:40%;
    float: left;
    margin-left:5%;
    padding-left: 2%;
}
.half-width img{
    width:100%;
}
section{
    height: 500px;
    padding-bottom: 350px;
}

.link-button{
    text-decoration: none;
    background-image:linear-gradient(30deg,salmon,tomato);
    padding: 10px 20px;
    color:white;
    border-radius: 5px;
}
.small-box{
    box-shadow: 20px 20px 40px gray;
    border-radius: 10px;
    text-align: center;
    width:22%;
    float:left;
    margin-left:8%;
}
.small-box img{
    width:60%;
}
#projects-heading{
    text-align: center;
}
#highlight-heading{
    color: orange;
}
#background-color{
    background-color: rgb(240, 233, 233);
    border-radius: 40px;
}
#photo{
    background-image:url("images/Group_33094_1.png");
    background-repeat:no-repeat;
    background-size: 60% 30%;
    background-position: top center;
}
#line-stuff{
    text-align: center;
}
.background-p{
    color:white;
}
footer{
    text-align:center;
}